export FZF_CTRL_T_COMMAND='fd --type f --strip-cwd-prefix --hidden --no-ignore --exclude .git'

# Auto-install Brewfile if changed
watch_file Brewfile
BREWFILE_HASH=$(shasum Brewfile | cut -d' ' -f1)
BREWFILE_HASH_FILE="$(direnv_layout_dir)/brewfile_hash"
mkdir -p "$(dirname "$BREWFILE_HASH_FILE")"
if [ ! -f "$BREWFILE_HASH_FILE" ] || [ "$BREWFILE_HASH" != "$(cat "$BREWFILE_HASH_FILE")" ]; then
  echo "Brewfile changed or not yet installed. Running brew bundle..."
  brew bundle --file=Brewfile
  echo "$BREWFILE_HASH" > "$BREWFILE_HASH_FILE"
fi
