[hub]
        protocol = https
[user]
        name = {{ full_name }}
        email = {{ git_email }}
{% if ansible_os_family == 'Darwin' %}
[credential]
        helper = osxkeychain
{% endif %}
[alias]
        st = status
        s = status
        co = checkout
        cob = checkout -b
        c = commit -v
        noff = merge --no-ff
        amend = commit -v --amend
        b = branch
        d = diff
        ds = diff --staged
        p = push
        pl = pull
        ri = rebase -i

        f = fetch
        fa = fetch --all

        a = add
        aa = add --all
        ap = add -p
        r = remote

        l = log --graph --decorate --oneline --abbrev-commit --all
        h = log --graph --decorate --oneline --abbrev-commit

        rev = !sh -c 'git rev-list --reverse HEAD | nl | awk \"{ if(\\$1 == "$0") { print \\$2 }}\"'
        unpushed = log --all --not --remotes --tags --pretty=format:'%h %an %s'
        up = unpushed
        search-logs = log -p -S
        grep-logs = log -p -G
[mergetool]
        keepBackup = true
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore_global
        editor = vim
[difftool]
        prompt = false
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
[github]
        user = {{ git_user }}
